<!DOCTYPE html>
<html ng-app="adminApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - zLeaderboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="~/App/vendors/angular-ui-router.min.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/mainController.js"></script>
    <script src="~/App/eventController.js"></script>
    <script src="~/App/eventService.js"></script>
    <script src="~/App/userHomeController.js"></script>
    <script src="~/App/userEventService.js"></script>
    <script src="~/App/userEventController.js"></script>
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/flow")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
