<!DOCTYPE html>
<html ng-app="adminApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - zLeaderboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/App/vendors/moment.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="~/App/vendors/angular-ui-router.min.js"></script>
    <script src="~/App/vendors/angular-local-storage.js"></script>
    <script src="~/App/vendors/angular-base64.js"></script>
    <script src="~/App/vendors/angular-basicauth.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/vendors/angular-cookies.js"></script>
    <script src="~/App/vendors/angular-route.js"></script>
    <script src="~/App/vendors/truncate.js"></script>
    <script src="~/App/vendors/datetimepicker.js"></script>
    <script src="~/App/vendors/datetimepicker.templates.js"></script>
    <script src="~/App/admin/adminLoginController.js"></script>
    <script src="~/App/admin/authController.js"></script>
    <script src="~/App/admin/eventController.js"></script>
    <script src="~/App/admin/eventService.js"></script>
    <script src="~/App/admin/mainController.js"></script>
    <script src="~/App/user/userEventController.js"></script>
    <script src="~/App/user/userHomeController.js"></script>
    <script src="~/App/user/userEventService.js"></script>
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/flow")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
